MYSQL_HOST=localhost
MYSQL_USER=youruser
MYSQL_PASS=yourpass
MYSQL_DB=betting
LINE_ACCESS_TOKEN=YOUR_LINE_TOKEN
LINE_GROUP_ID=YOUR_GROUP_ID
ADMIN_TOKEN=changeme
STREAM_URL=https://example.com/stream.m3u8
SECRET_KEY=changeme
BET_ALERT=10000
PROMPTPAY_ID=0812345678
LOGO_TEXT=NN888
