<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <title>Admin Logs</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h2>Log กิจกรรมทั้งหมด</h2>
  <table border="1">
    <tr>
      <th>เวลา</th>
      <th>ผู้ใช้</th>
      <th>ประเภท</th>
      <th>รายละเอียด</th>
    </tr>
    {% for log in logs %}
    <tr>
      <td>{{ log.timestamp }}</td>
      <td>{{ log.user.username if log.user else 'N/A' }}</td>
      <td>{{ log.action }}</td>
      <td>{{ log.detail }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
